/*
----------------------------------------------------------------------

	WILLGRAUVOGEL.COM
	Typography Stylesheet
	
	Author: Will Grauvogel
	Version: 03.09.2009

----------------------------------------------------------------------*/

	body {font: normal 75%/1em Helvetica, Arial, sans-serif;}
	
	body, ul, ol, dl, h1, h2, h3, h4, h5, h6, td, th, caption, pre, p, blockquote, input, textarea {
		
	}
	
	p   {line-height:1.3em; padding:6px 0;}
	
/*  @Headings
----------------------------------------------------------------------*/

	h1 {font: bold 3em/1em Calibri, Helvetica, Arial, sans-serif; padding-bottom:10px;}
	h2 {font: normal 2em/1em Calibri, Helvetica, Arial, sans-serif; color:#fff; padding:6px 0;}
	h3 {font: normal 1.2em/1em Helvetica, Arial, sans-serif; color:#444; text-transform:uppercase; padding:6px 0;}
	h4 {}

/*  @Links
----------------------------------------------------------------------*/

	#about a, 
	#work a, 
	#contact a, 
	#footer a       {color:#fff; text-decoration:none; width:auto; padding:2px;}

	#about a:hover, 
	#work a:hover, 
	#contact a:hover, 
	#footer a:hover {color:#000; background:#fff;}
	
/*  @Structure
----------------------------------------------------------------------*/

	#footer {font: normal .85em/1em "Trebuchet MS", Helvetica, Arial, sans-serif;}