# Use PHP5.4 Single php.ini as default
AddHandler application/x-httpd-php54s .php
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /404.php 
RewriteCond %{HTTP_HOST} ^willgrauvogel.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.willgrauvogel.com$
RewriteRule ^/?$ "http\:\/\/builtbywill\.com" [R=301,L]

# hide all .git files
RedirectMatch 404 /\.git

# add expires headers
<FilesMatch "\.(gif|jpe?g|png|ico|css|js|swf)$">
     Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>

# gzip html, css and js
