<div class="carousel">
	<div class="container">
		<div class="carousel-caption">
			<img src="content/images/profile-picture.png" alt="Profile Picture" />
			<h1>Hi! My name is Will.</h1>
			<p>I love to solve problems with creative solutions and come up with new ways to share content on web and mobile platforms.</p>
		</div>
	</div>
</div>

<div class="content">
	
	<div class="container">
		<div class="well well-lg">
			<h1>What I've Done</h1>		
			<p class="lead">These are some of the projects I have worked on the past few years. The areas I worked on are highlighted below, with my role and specific technologies that were utilized.</p>
		</div>	
	</div>
	
	<div id="projects" ng-repeat="project in ctrl.projects">
		<div class="row">
			<div class="container">
				<div class="col-md-7">
					<h2 class="heading">{{ project.title }}</h2>
					<h3>{{ project.subtitle }}</h3>
			        <p class="lead">{{ project.text }}</p>
					<a class="btn btn-default" ng-href="#/projects/{{ project.title | lowercase }}">See More</a>
					<!--
					<div ng-repeat="area in project.areas">
						<h3>{{ area.name }}</h3>
						<p>{{ area.text }}</p>
						<h4>
							<span class="label label-default">{{ area.type }}</span>
							<span class="label label-{{ area.label }}" ng-repeat="tech in area.tech">{{ tech }}</span>
						</h4>
					</div>
					-->
			    </div>
			    <div class="col-md-5">
			    	<img class="project-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
			    </div>
			</div>
		</div>
	</div>
	
</div>