@charset "utf-8";

/*
General
------------------------------------------------------------------------------------------------------------*/
	html {background:#4898bd url(../img/bg.gif) repeat-x top center; }
	body {min-height:900px; overflow-x:hidden; position:relative; font:normal 14px/1.2 Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
	
	h2 {overflow:hidden; height:40px; font-weight:bold; font-size:40px; line-height:1em; padding:10px 0; color:#fff; font-family:"Century Gothic",Tahoma, Geneva, sans-serif; letter-spacing:-1.5px; text-indent:-9999em;}
	h3 {font-weight:bold; font-size:20px; line-height:1em; padding:10px 0; color:#fff; font-family:"Century Gothic", Calibri, Tahoma, Geneva, sans-serif; letter-spacing:-1px;}
	
	abbr, acronym,
	p, input, textarea, ul {font:normal 14px/1.2 Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
	
	a               {text-decoration:none;}
	p               {margin:0 0 10px; line-height:1.3em;}
	abbr, acronym   {cursor:help;}
	form            {margin:10px 0 0;}
	
	input[type="text"] {width:271px; height:26px; line-height:26px; margin:0 0 20px 0; padding: 7px 10px; border:4px solid #1A3F4F; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
	textarea {margin:0 0 20px 0; width:271px; height:123px; padding:10px; border:4px solid #1A3F4F; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
	
	.description .btn, #button {padding:4px 7px 12px; width:90px; height:43px; color:#000; font-weight:bold; text-align:center; cursor:pointer; background:url(../img/sprite-01.png) no-repeat -300px -300px;}
	.description .btn          {display:block; border:none !important; width:75px; height:25px; padding-top:9px; float:right; marg sin-top:5px;}
	.description .btn:hover, .description .btn:active, .description .btn:focus,
	#button:active, #button:focus, #button:hover   {background:url(../img/sprite-01.png) no-repeat -300px -350px; color:#fff;}
	
/*
Design Elements
------------------------------------------------------------------------------------------------------------*/
	#bg-1, #bg-2, #bg-3, #bg-4, #bg-5 {width:100%; position:absolute;}
	#bg-1 {bottom:170px;  height:1200px; background:url(../img/bg_night_1_new.png) repeat-x 38% 0;}
	#bg-2 {bottom:100px;  height:223px; background:url(../img/bg_night_2.png) repeat-x 75% 0;}
	#bg-3 {bottom:40px;   height:171px; background:url(../img/bg_night_3.png) repeat-x 150% 0;}	
	#bg-4 {bottom:-228px; height:228px; background:url(../img/bg_day_1.png) repeat-x 12% 0;}	
	#bg-5 {bottom:-180px; height:180px; background:url(../img/bg_day_2.png) repeat-x 25% 0;}	
	
	.mask {overflow:hidden; position:absolute; bottom:0; left:0; width:100%; height:253px;}
	
	/*** Night ***/
	.night #logo   {background-position:0px 0px;}
	.night a       {border-bottom:1px dotted #666; color:#fff;}
	.night a:hover {border-bottom:1px solid #d24d19;}
	.night abbr, 
	.night acronym {color:#fff; border-bottom:1px dotted #444;}
	.night p, .night .bulleted {color:#c7d7df;}
	.night input  {color:#aaa; /*background:url(../img/sprite-01.png) no-repeat 0px -394px;*/ background:#0B1A21;}
	.night input::-webkit-input-placeholder {color:#aaa;}      
	.night input.on::-webkit-input-placeholder,
	.night input:focus::-webkit-input-placeholder,
	.night input:hover::-webkit-input-placeholder {color:#fff;}
	.night input.on,
	.night input:hover,
	.night input:focus    {color:#fff; /*background:url(../img/sprite-01.png) no-repeat 0px -440px;*/ background:#3e738b;}    
	.night textarea  {color:#aaa; /*background:url(../img/sprite-01.png) no-repeat -400px -604px;overflow:auto;*/ background:#0B1A21;}
	.night textarea::-webkit-input-placeholder {color:#aaa;}
	.night textarea.on::-webkit-input-placeholder,
	.night textarea:focus::-webkit-input-placeholder,
	.night textarea:hover::-webkit-input-placeholder {color:#fff;}
	.night textarea.on,
	.night textarea:hover,
	.night textarea:focus {color:#fff; /*background:url(../img/sprite-01.png) no-repeat -400px -756px;*/ background:#3e738b;}
	
	.night #nav-projects {background-position:-400px -160px;}
	.night #nav-about    {background-position:-500px -160px;}
	.night #nav-code     {background-position:-383px -200px;}
	.night #nav-contact  {background-position:-600px -160px;}
	
	.night #projects h2 {background:url(../img/sprite-01.png) no-repeat 0px 0px;}
	.night #about h2    {background:url(../img/sprite-01.png) no-repeat 0px -60px;}
	.night #code h2     {background:url(../img/sprite-01.png) no-repeat 0px -490px;}
	.night #contact h2  {background:url(../img/sprite-01.png) no-repeat 0px -120px; width:140px;}
	
	.night #bg-1 {bottom:170px;}
	.night #bg-2 {bottom:100px;}
	.night #bg-3 {bottom:40px;}
	.night #bg-4 {bottom:-228px;}
	.night #bg-5 {bottom:-180px;}
	
	
	/*** Day ***/
	.day #logo   {background-position:0px -150px;}
	.day h2,
	.day h3      {color:#000; text-shadow:0 1px 0 #7ACEF5; -moz-text-shadow:0 1px 0 #7ACEF5; -webkit-text-shadow:0 1px 0 #7ACEF5;}
	.day a       {border-bottom:1px dotted #444;color:#fff;}
	.day a:hover {border-bottom:1px solid #d24d19;}
	.day abbr, 
	.day acronym {color:#444; border-bottom:1px dotted #fff;}
	.day p, .day .bulleted  {color:#000;}
	.day input {color:#222; /*background:url(../img/sprite-01.png) no-repeat 0px -347px;*/ background:#73c2e7; border-color:#699db6;} 
	.day input::-webkit-input-placeholder {color:#222;}      
	.day input.on,
	.day input:hover,
	.day input:focus    {color:#000; /*background:url(../img/sprite-01.png) no-repeat 0px -300px;*/ background:#cdefff;}    
	.day textarea       {color:#222; /*background:url(../img/sprite-01.png) no-repeat -400px -452px;*/ background:#73c2e7; overflow:auto; border-color:#699db6;}
	.day textarea::-webkit-input-placeholder {color:#222;}
	.day textarea.on,
	.day textarea:hover,
	.day textarea:focus {color:#000; /*background:url(../img/sprite-01.png) no-repeat -400px -300px;*/ background:#cdefff;}
		
	.day #nav-projects {background-position:-400px -120px;}
	.day #nav-about    {background-position:-500px -120px;}
	.day #nav-code     {background-position:-494px -200px;}
	.day #nav-contact  {background-position:-600px -120px;}
	
	.day #projects h2 {background:url(../img/sprite-01.png) no-repeat -200px 0px;}
	.day #about h2    {background:url(../img/sprite-01.png) no-repeat -200px -60px;}
	.day #code h2     {background:url(../img/sprite-01.png) no-repeat -199px -490px;}
	.day #contact h2  {background:url(../img/sprite-01.png) no-repeat -200px -120px; width:140px;}
	
	.day #bg-1 {top:-1200px;}
	.day #bg-2 {top:-205px;}
	.day #bg-3 {top:-105px;}
	.day #bg-4 {bottom:0px;}
	.day #bg-5 {bottom:-25px;}
	
	
/*
Structure
------------------------------------------------------------------------------------------------------------*/
	.wrap {width:950px; margin:0 auto; padding:0 0 20px 0;}
		
	#header  {position:absolute; width:100%; margin:0 auto; height:140px; padding:0; top:0; left:0;}
		#logo          {display:block; text-indent:-9999em; border:none; position:absolute; background:url(../img/logo.png) no-repeat 10px 0px; width:131px; height:131px; margin:10px 0 0 10px;}

		#switch a  {margin:76px 10px 0 20px; float:right; display:block; border:none; width:78px; height:28px; background:url(../img/sprite-01.png) no-repeat -200px -200px; text-indent:-999em;}
		#switch a:hover {border:none;}
		
		#switch a.day    {background:url(../img/sprite-01.png) no-repeat -200px -200px;}
		#switch a.night  {background:url(../img/sprite-01.png) no-repeat -280px -200px;}
		
		#nav           {height:39px; margin-top:75px; float:right;}
		#nav li        {float:left;}
		#nav a         {text-indent:-9999em; background:url(../img/sprite-01.png) no-repeat; display:block; padding:5px 0 10px; width:95px; text-align:center; color:#c7d7df; border:none; font-size:20px; font-weight:bold; font-family:"Century Gothic",Tahoma, Geneva, sans-serif; letter-spacing:-.75px;}
		
		#nav-projects:hover {background-position:-400px -40px;}
		#nav-about:hover    {background-position:-500px -40px;}
		#nav-contact:hover  {background-position:-600px -40px;}
		
		#nav-projects.current {background-position:-400px 0px;}
		#nav-about.current    {background-position:-500px 0px;}
		#nav-contact.current  {background-position:-600px 0px;}
		
		#nav-code:hover {background-position:-582px -251px;}
		#nav-code.current {background-position:-583px -200px;}
		
		
	#content-mask {height:100%; position:absolute; top:0; left:0; width:100%; margin:0 auto; overflow-y:hidden;}
	#content {height:660px; width:400%;}
		#content > li {width:25%; height:500px; float:left; padding:140px 0 20px 0;}
		
		.project-box    {position:relative; padding:5px 7px 20px; background:url(../img/project-list-bg.png) no-repeat 0px 0px; height:515px; width:740px;}
		.project-mask   {position:relative; height:515px; width:740px; overflow-y:hidden;}
		.project-overlay {position:absolute; display:block; height:300px; width:740px; top:0; left:0; background:url(../img/project-list-overlay.png) no-repeat 0 0; border:none;}
		.project-overlay:hover {border:none !important;}
		
		.fancy-hidden {display:none;}
		#fancybox-left, #fancybox-right {border-bottom:none !important;}
		
		.project-box ul {height:300px; width:7400px; display:block;}
		.project-box li {height:300px; width:740px; display:block; float:left; clear:none; position:relative;}

		.description       {padding:10px 0 0 15px;}
		.description h3    {padding-top:9px; font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
		.description p     {width:600px;}
		
		.project-controls                 {height:35px;}
		.project-controls .dots           {float:right; padding:8px 10px 0 0;}
		.project-controls .dots li        {display:inline;}
		.project-controls .dots a         {display:block; background:url(../img/sprite-01.png) no-repeat 0px -200px; width:15px; height:15px; float:left; border:none;}
		.project-controls .dots a:hover   {border:none;}
		.project-controls .dots a:active  {background:url(../img/sprite-01.png) no-repeat -17px -200px; border:none;}
		.project-controls .dots a.current {background:url(../img/sprite-01.png) no-repeat -32px -200px; border:none;}
		.project-controls .prev           {display:block; float:right; width:34px; height:34px; background:url(../img/sprite-01.png) no-repeat 0px -220px; text-indent:-999em; border:none;}
		.project-controls .next           {display:block; float:right; width:34px; height:34px; background:url(../img/sprite-01.png) no-repeat -32px -220px; text-indent:-999em; border:none;}
		.project-controls .prev:active    {background:url(../img/sprite-01.png) no-repeat 0px -260px; border:none;}
		.project-controls .next:active    {background:url(../img/sprite-01.png) no-repeat -32px -260px; border:none;}
		.project-controls .prev:hover,
		.project-controls .next:hover {border:none;}

		.icon         {padding-left:30px; background-position:0 50%; background-repeat:no-repeat;}
		.icon-twitter {background-image:url(../img/twitter-icon.png);}
		.icon-gmail   {background-image:url(../img/gmail-icon-v2-16.png);}
		.icon-phone   {background-image:url(../img/phone-icon.png);}
				
	#footer  {position:absolute; bottom:0; width:100%; height:30px; color:#fff; font-size:12px;}
		#footer .wrap {width:930px; height:30px; margin:0 auto; padding:0 10px;}
		
	.col-1      {width:170px; float:left; padding:20px 0 0 20px;}
	.col-2      {width:360px; float:left; padding:20px 0 0 20px;}
	.col-3      {width:550px; float:left; padding:20px 0 0 20px;}
	.col-4      {width:754px; float:left; padding:20px 0 0 0;}
	.col-fourth {width:217px; float:left; padding:20px 0 0 20px;}
	.col-third  {width:295px; float:left; padding:20px 0 0 20px;}
	.col-2-third {width:615px; float:left; padding:20px 0 0 20px;}
	.col-half   {width:455px; float:left; padding:20px 0 0 20px;}
	.col-full   {width:940px; float:left; padding:20px 0 0 20px;}
	
	.left  {float:left;}
	.right {float:right;}
	.center {margin:0 auto; display:block; text-align:center;}
	.clear {clear:both; height:0px;}	
	.caption {color:#333; font-size:10px;}
	
	.block {display:block;}
	
	.bulleted {list-style:outside disc; padding-left:20px; margin:10px 0 20px;}
	
	img.right {margin:10px 0 0 10px;}
	
	input.error, textarea.error {color:#d24d19;}
	
	.message {color:#fff; font-weight:bold; font-size:16px;}
	.errormessage {color:#d24d19; font-weight:bold; font-size:16px;}
	
	#fancybox-close {border:none;}
	#fancybox-title {padding:10px; text-align:left; color:#fff; font-weight:bold; opacity:0.7;}
	
	#fancybox-title div {padding-left:10px;}
	#fancybox-title .right {padding-right:10px;}

	#fancybox-title,
	#fancybox-outer {background:#000;}

	.qtip-content {font-size:11px; width:100%; display:block; font-weight:bold;}
		
/*
z-index
------------------------------------------------------------------------------------------------------------*/
	#header       {z-index:200;}
	#content-mask {z-index:100;}
	#footer       {z-index:90;}
