@import url("reset.css");

/*
@General
------------------------------------*/
	body    {height:100%; font:normal 80%/1.5 Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;}
	h1      {font-size:22px; width:80%; margin:0.5em auto;}
	h2      {font-size:16px; width:80%; margin:0.2em auto;}
	p       {font-size:12px; line-height:1; width:80%; margin:0 auto;}
	a       {color:#FF7200;}
	a:hover {}
	
	.left  {float:left;}
	.right {float:right;}
	.clear {clear:both;}
	
/*
@Structure
------------------------------------*/
	#controls         {position:absolute; top:0px; left:0px; width:250px; height:100%; background:url(../img/bg-controls.png) repeat; color:#fff; border-right:1px solid #000;}
		
		#projects          {width:80%; margin:20px auto;}
		#projects li       {}
		#projects a        {display:block; padding:2px 4px; color:#000; background:#efefef; border-bottom:1px solid #FF7200; text-shadow:0px 1px 2px #aaa;}
		#projects a:hover,
		#projects a:focus  {color:#FF7200; text-shadow:0px 1px 2px #222; border-bottom:1px dotted #444; background:#222; }
		#projects a:active {background:#000;}
		
	#info {}
	#next {}
	#prev {}