/* @Fonts
----------------------------------------*/

	@font-face {
	  font-family: "Ubuntu";
	  font-style: normal;
	  font-weight: 300;
	  src: local("Ubuntu Light"), local("Ubuntu-Light"), url("../fonts/Ubuntu-L.ttf") format("ttf");
	}
	@font-face {
	  font-family: "Ubuntu";
	  font-style: normal;
	  font-weight: 400;
	  src: local("Ubuntu"), url("../fonts/Ubuntu-R.ttf") format("ttf");
	}
	@font-face {
	  font-family: "Ubuntu";
	  font-style: normal;
	  font-weight: 700;
	  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../fonts/Ubuntu-B.ttf") format("ttf");
	}
    
	@font-face {font-family: 'icomoon';src:url('../fonts/icomoon.eot?-z3kfos');src:url('../fonts/icomoon.eot?#iefix-z3kfos') format('embedded-opentype'),url('../fonts/icomoon.woff?-z3kfos') format('woff'),url('../fonts/icomoon.ttf?-z3kfos') format('truetype'),url('../fonts/icomoon.svg?-z3kfos#icomoon') format('svg');
	font-weight: normal;font-style: normal;}

	[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;}

    .icon-mobile:before {content: "\e600";}
    .icon-mail:before {content: "\e601";}
    .icon-paperplane:before {content: "\e602";}
    .icon-pencil:before {content: "\e603";}
    .icon-paperclip:before {content: "\e604";}
    .icon-reply:before {content: "\e605";}
    .icon-reply-all:before {content: "\e606";}
    .icon-forward:before {content: "\e607";}
    .icon-user:before {content: "\e608";}
    .icon-users:before {content: "\e609";}
    .icon-user-add:before {content: "\e60a";}
    .icon-vcard:before {content: "\e60b";}
    .icon-export:before {content: "\e60c";}
    .icon-location:before {content: "\e60d";}
    .icon-target:before {content: "\e60e";}
    .icon-share:before {content: "\e60f";}
    .icon-heart:before {content: "\e610";}
    .icon-heart2:before {content: "\e611";}
    .icon-star:before {content: "\e612";}
    .icon-star2:before {content: "\e613";}
    .icon-thumbsup:before {content: "\e614";}
    .icon-thumbsdown:before {content: "\e615";}
    .icon-chat:before {content: "\e616";}
    .icon-comment:before {content: "\e617";}
    .icon-quote:before {content: "\e618";}
    .icon-house:before {content: "\e619";}
    .icon-search:before { content: "\e61a";font-family: 'icomoon';speak: none;}
    .icon-flashlight:before {content: "\e61b";}
    .icon-link:before {content: "\e61c";}
    .icon-flag:before {content: "\e61d";}
    .icon-cog:before {content: "\e61e";}
    .icon-tools:before {content: "\e61f";}
    .icon-trophy:before {content: "\e620";}
    .icon-tag:before {content: "\e621";}
    .icon-camera:before {content: "\e622";}
    .icon-book:before {content: "\e623";}
    .icon-bag:before {content: "\e624";}
    .icon-lifebuoy:before {content: "\e625";}
    .icon-eye:before {content: "\e626";}
    .icon-clock:before {content: "\e627";}
    .icon-microphone:before {content: "\e628";}
    .icon-calendar:before {content: "\e629";}
    .icon-bolt:before {content: "\e62a";}
    .icon-thunder:before {content: "\e62b";}
    .icon-droplet:before {content: "\e62c";}
    .icon-gauge:before {content: "\e62d";}
    .icon-key:before {content: "\e62e";}
    .icon-magnet:before {content: "\e62f";}
    .icon-rocket:before {content: "\e630";}
    .icon-suitcase:before {content: "\e631";}
    .icon-cone:before {content: "\e632";}
    .icon-earth:before {content: "\e633";}
    .icon-infinity:before {content: "\e634";}
    .icon-light-bulb:before {content: "\e635";}
    .icon-database:before {content: "\e636";}
    .icon-cart:before {content: "\e637";}
    .icon-ticket:before {content: "\e638";}
    .icon-rss:before {content: "\e639";}
    .icon-signal:before {content: "\e63a";}
    .icon-droplets:before {content: "\e63b";}
    .icon-statistics:before {content: "\e63c";}
    .icon-bars:before {content: "\e63d";}
    .icon-lock:before {content: "\e63e";}
    .icon-lock-open:before {content: "\e63f";}
    .icon-logout:before {content: "\e640";}
    .icon-login:before {content: "\e641";}
    .icon-checkmark:before {content: "\e642";}
    .icon-cross:before {content: "\e643";}
    .icon-minus:before {content: "\e644";}
    .icon-plus:before {content: "\e645";}
    .icon-cross2:before {content: "\e646";}
    .icon-minus2:before {content: "\e647";}
    .icon-plus2:before {content: "\e648";}
    .icon-cross3:before {content: "\e649";}
    .icon-minus3:before {content: "\e64a";}
    .icon-plus3:before {content: "\e64b";}
    .icon-erase:before {content: "\e64c";}
    .icon-blocked:before {content: "\e64d";}
    .icon-info:before {content: "\e64e";}
    .icon-info2:before {content: "\e64f";}
    .icon-question:before {content: "\e650";}
    .icon-help:before {content: "\e651";}
    .icon-warning:before {content: "\e652";}
    .icon-cycle:before {content: "\e653";}
    .icon-cw:before {content: "\e654";}
    .icon-ccw:before {content: "\e655";}
    .icon-shuffle:before {content: "\e656";}
    .icon-arrow:before {content: "\e657";}
    .icon-arrow2:before {content: "\e658";}
    .icon-retweet:before {content: "\e659";}
    .icon-loop:before {content: "\e65a";}
    .icon-history:before {content: "\e65b";}
    .icon-back:before {content: "\e65c";}
    .icon-switch:before {content: "\e65d";}
    .icon-list:before {content: "\e65e";}
    .icon-add-to-list:before {content: "\e65f";}
    .icon-layout:before {content: "\e660";}
    .icon-list2:before {content: "\e661";}
    .icon-text:before {content: "\e662";}
    .icon-document:before {content: "\e663";}
    .icon-docs:before {content: "\e664";}
    .icon-landscape:before {content: "\e665";}
    .icon-pictures:before {content: "\e666";}
    .icon-video:before {content: "\e667";}
    .icon-folder:before {content: "\e668";}
    .icon-trash:before {content: "\e669";}
    .icon-cloud:before {content: "\e66a";}
    .icon-upload:before {content: "\e66b";}
    .icon-bookmark:before {content: "\e66c";}
    .icon-bookmarks:before {content: "\e66d";}
    .icon-play:before {content: "\e66e";}
    .icon-pause:before {content: "\e66f";}
    .icon-record:before {content: "\e670";}
    .icon-stop:before {content: "\e671";}
    .icon-next:before {content: "\e672";}
    .icon-previous:before {content: "\e673";}
    .icon-first:before {content: "\e674";}
    .icon-last:before {content: "\e675";}
    .icon-resize-enlarge:before {content: "\e676";}
    .icon-resize-shrink:before {content: "\e677";}
    .icon-volume:before {content: "\e678";}
    .icon-flow-cascade:before {content: "\e679";}
    .icon-flow-branch:before {content: "\e67a";}
    .icon-flow-tree:before {content: "\e67b";}
    .icon-flow-line:before {content: "\e67c";}
    .icon-flow-parallel:before {content: "\e67d";}
    .icon-arrow-left:before {content: "\e67e";}
    .icon-arrow-down:before {content: "\e67f";}
    .icon-arrow-up-upload:before {content: "\e680";}
    .icon-arrow-right:before {content: "\e681";}
    .icon-arrow-left2:before {content: "\e682";}
    .icon-arrow-down2:before {content: "\e683";}
    .icon-arrow-up:before {content: "\e684";}
    .icon-arrow-right2:before {content: "\e685";}
    .icon-arrow-left3:before {content: "\e686";}
    .icon-arrow-down3:before {content: "\e687";}
    .icon-arrow-up2:before {content: "\e688";}
    .icon-arrow-right3:before {content: "\e689";}
    .icon-arrow-left4:before {content: "\e68a";}
    .icon-arrow-down4:before {content: "\e68b";}
    .icon-arrow-up3:before {content: "\e68c";}
    .icon-arrow-right4:before {content: "\e68d";}
    .icon-arrow-left5:before {content: "\e68e";}
    .icon-arrow-down5:before {content: "\e68f";}
    .icon-arrow-up4:before {content: "\e690";}
    .icon-arrow-right5:before {content: "\e691";}
    .icon-arrow-left6:before {content: "\e692";}
    .icon-arrow-down6:before {content: "\e693";}
    .icon-arrow-up5:before {content: "\e694";}
    .icon-arrow-right6:before {content: "\e695";}
    .icon-arrow-left7:before {content: "\e696";}
    .icon-arrow-down7:before {content: "\e697";}
    .icon-arrow-up6:before {content: "\e698";}
    .icon-uniE699:before {content: "\e699";}
    .icon-arrow-left8:before {content: "\e69a";}
    .icon-arrow-down8:before {content: "\e69b";}
    .icon-arrow-up7:before {content: "\e69c";}
    .icon-arrow-right7:before {content: "\e69d";}
    .icon-menu:before {content: "\e69e";}
    .icon-ellipsis:before {content: "\e69f";}
    .icon-dots:before {content: "\e6a0";}
    .icon-dot:before {content: "\e6a1";}
    .icon-twitter:before {content: "\e6a2";}
    .icon-twitter2:before {content: "\e6a3";}
    .icon-facebook:before {content: "\e6a4";}
    .icon-facebook2:before {content: "\e6a5";}
    .icon-facebook3:before {content: "\e6a6";}
    .icon-googleplus:before {content: "\e6a7";}
    .icon-googleplus2:before {content: "\e6a8";}
    .icon-pinterest:before {content: "\e6a9";}
    .icon-pinterest2:before {content: "\e6aa";}
    .icon-tumblr:before {content: "\e6ab";}
    .icon-tumblr2:before {content: "\e6ac";}
    .icon-linkedin:before {content: "\e6ad";}
    .icon-linkedin2:before {content: "\e6ae";}
	
/* @Classes
----------------------------------------*/

	.clear {display:block; clear:both;}
	.right {float:right;}
	.left  {float:left;}
	
/* @General
----------------------------------------*/

	html, .footer {background-color:#e6e6e6;}
	/*body {font:300 16px/24px "Ubuntu", sans-serif; overflow-x:hidden;}*/
    body {color: #5a5a5a; padding-top:50px;}

	.logo  {display:block; text-indent:-999em; width:185px; height:122px; background:url("../images/logo.png") no-repeat 0 0; margin:0 auto;}
	.navbar-brand {text-indent:-999em; background:url("../images/logo.png") no-repeat 50% 50%; background-size: cover;}
    /*h2     {font:700 25px/1.5em "Ubuntu", sans-serif;}*/

	a {color:#09F; text-decoration:none;}

	.content {background-color:#fff; padding-bottom:100px;}

/* @Carousel
-------------------------------------------------- */

    .carousel {height:300px; margin-bottom:60px; background-color:#777;}
    .carousel-caption {z-index:10; bottom:0;}
    .carousel .item {height:300px;}
    .carousel-inner > .item > img {position:absolute; top:0; left:0; min-width:100%; height:500px;}
    
    ul.links      {margin:0 auto 10px; padding:0;}
	ul.links li   {display:inline;}	
	ul.links li a {display:inline-block; float:left;}
    
	#gmail-link    { width:50px; height:50px; text-indent:-999em; background:url("../images/gmail.png") no-repeat 50% 50%;}
	#twitter-link  { width:50px; height:50px; text-indent:-999em; background:url("../images/twitter.png") no-repeat 50% 50%;}
    

/* @Marketing
-------------------------------------------------- */

    .marketing .col-lg-4 {margin-bottom:20px; text-align:center;}
    .marketing h2 {font-weight:normal;}
    .marketing .col-lg-4 p {margin-right:10px; margin-left:10px;}

/* @Projects
------------------------- */
    
	#projects .row {
		padding:40px 0;
		margin:0;
		-moz-transition: background 0.3s ease;
  		-webkit-transition: background 0.3s ease;
  		transition: background 0.3s ease;
	}
	#projects .row:hover {background-color:rgba(240, 240, 240, 0.5);}
    #projects .row .label {display:inline-block; margin:0 5px 5px 0;}
	#projects h2 {font-weight:300; line-height:1; letter-spacing:-1px;}
    #projects img {}
	
	#content-list         {padding:45px 0 0;}
	#content-list li      {display:inline;}
	#content-list a       {display:block; clear:both; padding:35px 15px; text-decoration:none; border-bottom:2px solid #e6e6e6; color:#000; transition:.25s; -webkit-transition:.25s;}
	#content-list a:hover {color:#09F; border-bottom:2px solid #09F; transition:.25s; -webkit-transition:.25s;}
	#content-list img     {float:left; margin:0 20px 0 0;}
	#content-list span    {display:block; padding-left:163px;}
    
/* @Footer
------------------------- */

	.footer   {padding-top:30px; padding-bottom:50px; box-shadow:inset 0 1px 1px #dbdbdb; clear:both;}
	.footer p {text-align:center; font-weight:bold; text-shadow:0 -1px 0px #b8b8b8; letter-spacing:-1px;}
	.footer a {}
    .footer a:hover {text-decoration:none;}
	
    #logo-footer-link {display:block; margin:0 auto; width:100px; height:90px; color:#d6d6d6 !important; background:url("../images/logo-footer.png") no-repeat 50% 30px;}
    
    
/* @Responsive Design
----------------------------------------*/

    @media (min-width: 768px) {
      /* Navbar positioning foo */
      .navbar-wrapper {margin-top:20px;}
      .navbar-wrapper .container {padding-right:15px; padding-left:15px;}
      .navbar-wrapper .navbar {padding-right:0; padding-left:0;}

      /* The navbar becomes detached from the top, so we round the corners */
      .navbar-wrapper .navbar {border-radius:4px;}

      /* Bump up size of carousel content */
      .carousel-caption p {margin-bottom:20px; font-size:21px; line-height:1.4;}
      .featurette-heading {font-size:50px;}
    }

    @media (min-width: 992px) {
      /*.featurette-heading {margin-top:120px;}*/
    }
