/* @Base
-------------------------------------------------- */

body {
    color: rgba(0, 0, 0, 0.8);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    word-wrap: break-word;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.animate-all {
    transition: all 300ms cubic-bezier(0.5, 0, 0, 1.3) !important;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1.3);
}

.no-pad {
    padding: 0;
}


/* @Type Scale
----------------------------------------*/

html {
    font-size: inherit;
}

body {
    font-size: 110%;
}

.type-jumbo {
    font-size: 3em;
}

.type-largest {
    font-size: 2.5em;
}

.type-larger {
    font-size: 2em;
}

.type-large {
    font-size: 1.5em;
}

.type-base {
    font-size: 1.2em;
    line-height: 1.8em;
}

.type-small {
    font-size: 0.80em;
}

.type-smaller {
    font-size: 0.70em;
}

.type-smallest {
    font-size: 0.60em;
}

.type-micro {
    font-size: 0.50em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1;
    margin: 1em 0 0.5em;
    font-family: "Lato", sans-serif;
    clear: both;
}

h1,
.h1 {
    font-size: 1.5em;
}

h2,
.h2 {
    font-size: 1.4em;
}

h3,
.h3 {
    font-size: 1.3em;
}

h4,
.h4 {
    font-size: 1.2em;
}

h5,
.h5 {
    font-size: 1.1em;
}

h6,
.h6 {
    font-size: 1em;
}


/* @General
----------------------------------------*/

html,
body,
.footer {
    background-color: #e6e6e6;
}

a {
    color: #09F;
    text-decoration: none !important;
    color: rgb(28, 134, 195);
    border-bottom: 1px solid rgba(28, 134, 195, 0.25);
    transition: all 200ms;
}

a:hover,
a:active,
a:visted {
    text-decoration: none !important;
    border-bottom-color: rgba(28, 134, 195, 1);
}


/* @Layout
----------------------------------------*/

.layout-single-column {
    margin: 0 auto;
    max-width: 700px;
}


/* @Logo
----------------------------------------*/


/*
.logo {
    text-indent: -999em;
    background: url("../images/logo.png") no-repeat 50% 50%;
    width: 100px;
    height: 69px;
    padding: 0;
    margin: 0;
    background-size: contain;
}
*/

.logo {
    width: 100px;
    height: 69px;
    padding: 0;
    margin: 0;
}

.logo-small {
    width: 50px;
    height: 34px;
    padding: 0;
    margin: 0;
}

.link-back {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: white !important;
    color: #222;
    border-radius: 5px;
}

.link-back:hover {
    background-color: transparent;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


/* @Carousel
-------------------------------------------------- */

.carousel {
    height: 250px;
}

.carousel-caption {
    z-index: 10;
    bottom: 0;
    color: #222;
    text-shadow: none;
    font-size: 0.9em;
    font-family: "Lato", sans-serif;
}

.carousel-caption img.logo {
    margin-bottom: 20px;
}

.carousel-project,
.carousel-project .carousel-caption {
    height: 200px;
    color: white;
}

.carousel-project .carousel-caption h1 {
    font-weight: 300;
    margin: 0.5em 0 0em;
}

.carousel-project .carousel-caption .btn {
    background-color: transparent;
    margin-top: 10px;
    color: white;
}

.carousel-project .carousel-caption .btn:hover {
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}


/* @Content
----------------------------------------*/

.content {
    background-color: #fff;
    font-family: "Ovo", Georgia, Cambria, "Times New Roman", Times, serif;
}

.content .row {
    padding: 5% 0;
    margin: 0;
    background-color: #222;
    color: white;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.content .row .label {
    display: inline-block;
    margin: 0 5px 5px 0;
    font-size: 70%;
}

.content h2,
.content h3 {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.content img {}

#projects .row {
    cursor: pointer;
    background-color: transparent;
    padding-bottom: 0;
    overflow: hidden;
    min-height: 414px;
}

#projects .row:hover {
    background-color: rgba(100, 100, 100, 0.2);
}

#projects .row .btn {
    margin: 10px 0 20px;
    background: transparent;
    color: white;
}

#projects .row:hover .btn {
    background-color: rgba(0, 0, 0, 0.5);
}

#projects .row img {
    /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    border-top: 20px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    width: 665px;
}

.project-image {
    margin: 0;
}

.project-image h2 {
    margin: 2em 0;
}

.project-image img {
    margin: 1em auto;
}


/* @Footer
------------------------- */

.footer {
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: inset 0 1px 1px #dbdbdb;
    clear: both;
}

.footer p {
    text-align: center;
    font-weight: bold;
    text-shadow: 0 -1px 0px #b8b8b8;
    letter-spacing: -1px;
    font-size: 0.8em;
    font-family: "Lato", sans-serif;
}

.footer a {
    border: none;
}

.footer a:hover {
    color: #b6b6b6;
    text-decoration: none;
}

#link-footer-logo {
    display: block;
    margin: 0 auto;
    height: 90px;
    color: #d6d6d6;
    background: url("../images/logo-footer.png") no-repeat 50% 30px;
}

#link-footer-logo:hover {
    color: #b6b6b6;
    text-decoration: none;
}


/* @Responsive Design
----------------------------------------*/

@media (max-width: 900px) {}

@media (max-width: 767px) {
    body {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 90%;
    }
}
