/* @Base
-------------------------------------------------- */

body {
    color: rgba(0, 0, 0, 0.8);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    word-wrap: break-word;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.animate-all {
    transition: all 300ms cubic-bezier(0.5, 0, 0, 1.3)!important;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1.3)
}


/* @Type Scale
----------------------------------------*/

html {
    font-size: inherit;
}

body {
    font-size: 110%;
}

.type-jumbo {
    font-size: 3em;
}

.type-largest {
    font-size: 2.5em;
}

.type-larger {
    font-size: 2em;
}

.type-large {
    font-size: 1.5em;
}

.type-base {
    font-size: 1.2em;
    line-height: 1.8em;
}

.type-small {
    font-size: 0.80em;
}

.type-smaller {
    font-size: 0.70em;
}

.type-smallest {
    font-size: 0.60em;
}

.type-micro {
    font-size: 0.50em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1;
    margin: 1em 0 0.5em;
    font-family: "Lato", sans-serif;
    clear: both;
}

h1,
.h1 {
    font-size: 1.5em;
}

h2,
.h2 {
    font-size: 1.4em;
}

h3,
.h3 {
    font-size: 1.3em;
}

h4,
.h4 {
    font-size: 1.2em;
}

h5,
.h5 {
    font-size: 1.1em;
}

h6,
.h6 {
    font-size: 1em;
}


/* @General
----------------------------------------*/

html,
.footer {
    background-color: #e6e6e6;
}

.logo {
    display: block;
    text-indent: -999em;
    width: 185px;
    height: 122px;
    background: url("../images/logo.png") no-repeat 0 0;
    margin: 0 auto;
}

.navbar-brand {
    text-indent: -999em;
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: cover;
}

a {
    color: #09F;
    text-decoration: none;
}

.content {
    background-color: #fff;
}


/* @Sections
----------------------------------------*/

.section {}

.section-divider {}

hr.section-divider {
    border: 0;
    border-top: 1px solid #ddd;
    display: block;
    margin: 5% 10%;
}

.section-first {}

.section-first>.section-divider hr {
    margin: 0;
}

.section-content {
    font-family: "Ovo", Georgia, Cambria, "Times New Roman", Times, serif;
}

.section-content h1.section-title {
    font-size: 1.8em;
}

.section-content a {
    text-decoration: none;
    color: rgb(28, 134, 195);
    border-bottom: 1px solid rgba(28, 134, 195, 0.25);
    transition: 200ms border-bottom-color;
}

.section-content a:hover,
.section-content a:active {
    border-bottom-color: rgba(28, 134, 195, 1);
}

.section-content blockquote {
    font-size: 120%;
    font-style: italic;
    line-height: 1.5;
    border-left: 2px solid #ddd;
    margin: 2em 0;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 1em;
}

.section-content pullquote {
    font-size: 130%;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    margin: 0 -100px;
    display: block;
}

.section-content figure {}

.section-content figcaption {
    font-style: italic;
    font-size: 80%;
    color: rgb(0, 0, 0, 0.6);
}

.section-content dl {}

.section-content dt {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.section-content dd {}

.section-content img,
.section-content iframe,
.section-content embed,
.section-content video,
.section-content audio {
    max-width: 100%;
}

.section-content iframe,
.section-content embed {
    display: block;
    margin: 1em auto;
    max-width: 100%;
}


/* @Carousel
-------------------------------------------------- */

.carousel {
    height: 300px;
    /*margin-bottom: 60px;*/
    /*background-color: #777;*/
    background-color: hsl(150, 29%, 47%);
}

.carousel-caption {
    z-index: 10;
    bottom: 0;
}

.carousel .item {
    height: 300px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

ul.links {
    margin: 0 auto 10px;
    padding: 0;
}

ul.links li {
    display: inline;
}

ul.links li a {
    display: inline-block;
    float: left;
}

#gmail-link {
    width: 50px;
    height: 50px;
    text-indent: -999em;
    background: url("../images/gmail.png") no-repeat 50% 50%;
}

#twitter-link {
    width: 50px;
    height: 50px;
    text-indent: -999em;
    background: url("../images/twitter.png") no-repeat 50% 50%;
}


/* @Marketing
-------------------------------------------------- */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* @Projects
------------------------- */

#projects .row {
    padding: 40px 0;
    margin: 0;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

#projects .row:hover {
    background-color: rgba(240, 240, 240, 0.5);
}

#projects .row .label {
    display: inline-block;
    margin: 0 5px 5px 0;
}

#projects h2 {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

#projects img {}

#content-list {
    padding: 45px 0 0;
}

#content-list li {
    display: inline;
}

#content-list a {
    display: block;
    clear: both;
    padding: 35px 15px;
    text-decoration: none;
    border-bottom: 2px solid #e6e6e6;
    color: #000;
    transition: .25s;
    -webkit-transition: .25s;
}

#content-list a:hover {
    color: #09F;
    border-bottom: 2px solid #09F;
    transition: .25s;
    -webkit-transition: .25s;
}

#content-list img {
    float: left;
    margin: 0 20px 0 0;
}

#content-list span {
    display: block;
    padding-left: 163px;
}


/* @Footer
------------------------- */

.footer {
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: inset 0 1px 1px #dbdbdb;
    clear: both;
}

.footer p {
    text-align: center;
    font-weight: bold;
    text-shadow: 0 -1px 0px #b8b8b8;
    letter-spacing: -1px;
}

.footer a {}

.footer a:hover {
    text-decoration: none;
}

#logo-footer-link {
    display: block;
    margin: 0 auto;
    height: 90px;
    color: #d6d6d6 !important;
    background: url("../images/logo-footer.png") no-repeat 50% 30px;
}


/* @Responsive Design
----------------------------------------*/

@media (max-width: 900px) {}

@media (max-width: 767px) {
    body {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 90%;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    /*.featurette-heading {margin-top:120px;}*/
}
