<div class="carousel carousel-project" style="background-color: {{ctrl.project.color}};">
    <div class="container layout-single-column">
        <div class="carousel-caption">
            <img class="logo-small" src="content/images/logo.png" alt="Built by Will" />
            <h1 class="type-jumbo">{{ ctrl.project.title }}</h1>
            <a class="btn btn-default" href="{{ctrl.project.url}}" target="_blank">Visit Website <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <a ng-href="#/" class="btn btn-default link-back"> <span class="glyphicon glyphicon-chevron-left"></span> Back</a>
</div>
<div class="content">
    <div class="row">
        <div class="container">
            <div class="col-md-7">
                <h2 class="type-larger">About</h2>
                <div ng-bind-html="ctrl.project.summary"></div>
                <div ng-bind-html="ctrl.project.description"></div>
            </div>
            <div class="col-md-5">
                <h2>Roles</h2>
                <div ng-bind-html="ctrl.project.roles"></div>
                <div ng-repeat="area in ctrl.project.areas">
                    <h3>{{ area.name }} Technologies</h3>
                    <p ng-bind-html="area.text"></p>
                    <h4><span class="label label-{{ area.label }}" ng-repeat="tech in area.tech">{{ tech }}</span></h4>
                </div>
                <div>
                    <div class="col-md-6 no-pad">
                        <h2>For</h2>
                        <p>{{ ctrl.project.for }}</p>
                    </div>
                    <div class="col-md-6 no-pad">
                        <h2>Dates</h2>
                        <p>{{ ctrl.project.dates }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-image" ng-repeat="image in ctrl.project.images">
            <h2 class="text-center">{{ image.description }}</h2>
            <div class="image-loader">
                <img class="image img-responsive" lazy-src="{{ image.src }}" alt="{{ image.description }}" />
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/layout/footer.html'"></div>
