@charset "utf-8";
/* CSS Document */

	body     {background:#FFB81C; background:#fff; font:normal 14px/20px "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
	textarea {font:normal 14px/20px "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
	#wrap    {width:1000px; margin:0 auto;}

	.clear {display:block; clear:both;}
	
	/*
	 * Editor Styles
	-----------------------------------------------------------------------------------------------------------------------------*/
	
	#via-editor {}
		#via-editor textarea      {display:block; padding:0; margin:0; overflow:hidden;/**/}
		#via-editor .b-wrap-left  {background:#f6f6f6 url(../images/left-page.gif) repeat-y 100% 0;}
		#via-editor .b-wrap-right {background:#f6f6f6 url(../images/right-page.gif) repeat-y 0 0;}
		#via-editor .b-wrap-left,
		#via-editor .b-wrap-right {border:1px solid #ccc; -moz-box-shadow:0 6px 10px rgba(0,0,0,0.5);}
		
		#via-editor .b-arrow          {width:74px;}		
		#via-editor .b-arrow div      {top:215px; width:55px; height:55px;}
		#via-editor .b-arrow-prev     {left:-74px;}
		#via-editor .b-arrow-next     {right:-74px;}
		#via-editor .b-arrow-prev div {background:url(../images/arrow-prev.png) no-repeat 0 0;}
		#via-editor .b-arrow-next div {background:url(../images/arrow-next.png) no-repeat 0 0; left:auto; right:0;}
		
	.via-page {}
		.via-editable       {border:2px dashed #ccc; cursor:pointer; position:relative; -webkit-transition:all 0.25s; webkit-transition:all 0.25s;}
		.via-editable:hover {border:2px dashed #aaa;}
		.via-editing,
		.via-editing:hover  {border:2px solid #ffb81c;}
	
		.via-text        {}
			.via-text:focus  {border:none; outline:none;}
			.via-text-static {}
			.via-text-form   {display:none; background:none; border:none; width:100%; height:100%; margin:0;}
			
			.via-overflow {}
		
		.via-photo         {width:100%; height:100%; overflow:hidden; position:relative;}
			.via-photo-img     {display:block;}
			.via-photo-trigger {position:absolute; top:0; left:0;}	
		
		.via-photo-dialog  {}
		.via-photo-wrap    {border:3px solid #ffb81c; overflow:hidden; position:relative;}
		.via-photo-resizer {float:right;}
		.via-photo-dialog  .ui-draggable {cursor:move;}
		
	#via-toolbox {position:absolute; left:0; top:30px; z-index:100;}
		.via-toolbox-inner {background-color:#ffb81c; width:45px; height:65px;
			-moz-box-shadow:4px 5px 7px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow:4px 5px 7px rgba(0, 0, 0, 0.2);
			box-shadow:4px 5px 7px rgba(0, 0, 0, 0.2);
		}
		.via-toolbox-opened {width:182px; height:auto;}
		
		.via-toolbox-inner ul {margin:0; padding:35px 0 0 0; width:182px;}
		.via-toolbox-inner ul a  {display:block; color:#fff; text-transform:uppercase; text-decoration:none; line-height:30px; padding:0 12px; border-top:1px solid #fff;}
		.via-toolbox-inner ul a:hover {color:#ffb81c; background-color:#fff;}
		
		.via-toolbox-inner ul .back      {background:url(../images/toolbox-back.gif) no-repeat 12px 50%; padding-left:32px;}
		.via-toolbox-inner ul .next-step {background:url(../images/toolbox-next.gif) repeat-x 0 0; line-height:34px; color:#4b4f54; border:none;}
		
		.via-toolbox-close {display:block; position:absolute; top:8px; right:7px; width:25px; height:25px; background:url(../images/close-button.gif) no-repeat 100% 0; text-indent:-999em; }
		.via-toolbox-open  {display:block; display:none; position:absolute; top:8px; right:7px; width:30px; height:45px; background:url(../images/toolbox.gif) no-repeat 0 0; text-indent:-999em;}	
	
	#via-thumbnails {position:absolute; right:0; top:30px; overflow:hidden; padding:0 0 10px 10px; z-index:100;}	
		.via-thumbs {width:45px; height:65px; background-color:#aca39a;
			-moz-box-shadow:-4px 5px 7px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow:-4px 5px 7px rgba(0, 0, 0, 0.2);
			box-shadow:-4px 5px 7px rgba(0, 0, 0, 0.2);
		}
		.via-thumbs-opened {width:118px; height:auto; padding:35px;}
		
		.via-thumbs a {display:block; margin-bottom:5px; float:left; width:53px; height:76px; line-height:76px; text-decoration:none; color:#fff; font-weight:bold;
			background:url(../images/thumb-normal.gif) no-repeat 0 0; border:3px solid #beb5ac; text-align:center;
			-moz-box-shadow:4px 5px 7px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow:4px 5px 7px rgba(0, 0, 0, 0.2);
			box-shadow:4px 5px 7px rgba(0, 0, 0, 0.2);	
		}
		.via-thumbs .end  {margin-right:55px;}
		.via-thumbs .turn {background:url(../images/thumb-turn.gif) no-repeat 0 0;}	
		.via-thumbs .current,
		.via-thumbs a:hover {border-color:#ffb81c;}
			
		.via-thumbnails-close {display:none; position:absolute; top:6px; left:16px; width:25px; height:25px; background:url(../images/close-button.gif) no-repeat 0 0; text-indent:-999em; }
		.via-thumbnails-open  {display:block; position:absolute; top:6px; left:16px; width:20px; height:54px; background:url(../images/thumbnails.gif) no-repeat 0 0; text-indent:-999em;}	
		
		
	/*
	 * Styles for current Template
	-----------------------------------------------------------------------------------------------------------------------------*/
	
		.layout-title {padding:10px; margin-bottom:10px;}
		.layout-title .via-text {text-align:center;}
		
		.layout-content {padding:5px; margin-bottom:10px;}
		.layout-content .via-text {text-align:center;}
		
		.layout-fullpage {padding:10px; height: 376px;}
		.layout-fullpage .via-text {height:356px;}
		
		.layout-photo {height:300px; width:400px; margin:0 auto 10px;}
		.layout-photo .via-photo-trigger {width:380px; height:280px; padding:10px; font-size:20px; text-align:center;}
		
		
		
		
		.via-text, .end-cover {font-weight:normal; font-size:20px; line-height:30px; text-transform:uppercase; color:#666; /*letter-spacing:0.5px;*/}
		
		.cover-image {display:block; margin:100px auto 50px;}
		
		.layout-page-1 .via-text {font-size:17px; line-height:22px;}
		.layout-page-2 .via-text {font-size:28px; line-height:34px;}
		.layout-page-2 .via-text span {color:#000;}
		.layout-page-3 .via-text {font-size:20px; line-height:24px; color:#999;}
		.end-cover {text-align:center; margin-top:160px; font-size:27px; line-height:34px;}
	
