/*
----------------------------------------------------------------------

	Klimeck Research Group
	Base Stylesheet
	
	Author: Will Grauvogel
	Version: 03.07.2009

----------------------------------------------------------------------*/

	@import url("reset.css");          /* Reset */
	
/*  @Global Classes
----------------------------------------------------------------------*/

	.right   {float:right;}
	.left    {float:left;}
	.clear   {clear:both;}
	.hide    {display:none;}