/*
----------------------------------------------------------------------

	Klimeck Research Group
	Screen Stylesheet
	
	Author: Will Grauvogel
	Version: 05.20.2009

----------------------------------------------------------------------*/

/*  @General Elements
----------------------------------------------------------------------*/

	body  {font: normal 75%/1em Helvetica, Arial, sans-serif;min-width:886px; background:#c2c2c2 url(../img/bg_body.png) top left repeat-x;}
	p     {line-height:1.3em; padding:6px 0;}
	table {margin:10px 0; line-height:1.3em;}
	td    {padding:10px; border-bottom:1px solid #efefef; vertical-align:top;}

/*  @Headings
----------------------------------------------------------------------*/

	h1 {font: normal 3em/1em Calibri, Helvetica, Arial, sans-serif; padding-bottom:10px;}
	h2 {font: normal 2.1em/1em Calibri, Helvetica, Arial, sans-serif; color:#000/*#996633*/; padding:0.5em 0;}
	h3 {font: normal 1.7em/1em Calibri, Helvetica, Arial, sans-serif; color:#996633; padding:0.5em 0;}
	h4 {font: normal 1em/1em Calibri, Helvetica, Arial, sans-serif; color:#444; padding:0 0 10px;}

/*  @Links
----------------------------------------------------------------------*/

	a               {color:#0066CC; text-decoration:none;}
	a:hover         {color:#444;}
	.main-col a:hover{color:#444; border-bottom: 1px solid #996633;}
		
	#crumbs a       {color:#666; padding-right:5px;}
	#crumbs a:hover {border-bottom:1px dotted;}

/*  @Mast
----------------------------------------------------------------------*/

	#mast    {height:175px; background:transparent url(../img/bg_mast.png) no-repeat 25% top; position:relative;}
	#mast h1 {margin:25px 0 0 30px; color:#fff;}
	
	#header {height:85px; background:#000 url(../img/bg_header.png) repeat-x top left;}
		#logo    {float:left; z-index:200; position:relative;margin-top:20px;}
	
/*  @UpperNavigation
----------------------------------------------------------------------*/
	
	#upperNav    {float:right; border-left:1px solid #333;}
	#upperNav li {float:left;}
        #upperNav a  {display:block; padding:10px 12px; color:#fff; font:normal 0.9em/1em "Trebuchet MS", Helvetica, Arial, sans-serif;border-right:1px solid #333;}
        #upperNav a:hover {color:#000; background:#fff;}

/*  @Navigation
----------------------------------------------------------------------*/

	#nav              {float:right; clear:right; margin:8px 0 0; position:relative; z-index:98;border-left:1px solid #333;}
		#nav li       {float:left; position:relative;}
		#nav li:hover {color:#000; background:#fff;}
		#nav a        {display:block; height:31px; color:#fff; text-align:center; padding:15px 15px 0;border-right:1px solid #333;font:normal 1em/1em "Trebuchet MS", Helvetica, Arial, sans-serif;}
		#nav a:hover  {color:#000; background:#fff;}
		#nav li.main:hover > a {color:#000;background:#fff;}

		/* @Drop Down Menus */
		#nav ul          {display:none; position:absolute; width:175px; height:auto; top:45px; left:0;  border-bottom:1px solid #000;  z-index:99;} 
		#nav ul a        {text-indent:0; width:125px; padding:10px 30px 10px 20px;height:auto; text-align:left; border:none;}
		#nav ul li       {background:#000; opacity:.9; height:auto;}
		#nav ul li:hover {background:#fff; opacity:1;}
		
		#nav #nav_contact ul {right:0;}


/*  @Content
----------------------------------------------------------------------*/
	#crumbs        {color:#666; font-family:"Trebuchet MS", Helvetica, Arial, sans-serif; padding:5px 0 7px 30px; height:12px; text-align:left;}	

	#content       {background:#fff url(../img/bg_content.png) top left repeat-x; border-top:1px #fff solid;}
		#content .center {padding:10px 0 75px;}
		
		.main-col  {width:630px; float:left; padding:0 20px 0 30px; }
		.side-col  {width:219px; float:right; padding:0 0 20px;}
		.two-col   {width:410px; float:left; padding:0 20px;}
		
		/* Images */
		.main-col img  {margin:10px 0; padding:10px; background:#efefef; border:1px solid #ddd; max-width:600px;}
		
		/* Lists */
		#content ul    {list-style:circle; line-height:1.5em; padding:0 10px; margin-left:10px;}	

		#content ul li {padding-left:10px;}	
		
		/* Side Column */
		.side-col ul   {line-height:1.6em; padding:0 10px;}
		.side-col a       {border:none;line-height:1.2em;}
		.side-col a:hover {border:none; color:#000;}

		.side-col h2         {color:#000/*#996633*/;font-size:1.7em; padding:12px 0;}
		.side-col h2 a       {color:#000/*#996633*/;}
		#home h2 a           {color:#000/*#996633*/;}
		
		.side-box       {padding:0 10px 20px; background:#efefef; border-top:1px solid #fff; border-bottom:1px solid #ccc;}
		.side-box label {margin:5px 0; display:block;}
		.side-box input,
		.side-box select {width:195px;}
		
		.side       {display:block; padding:5px; background:#f5f5f5; margin:0 0 5px;}
		.side:hover {background:#fff; border:none !important;}
	
		
/*  @Recent News
----------------------------------------------------------------------*/
	
	.news-item    {padding:0 10px 10px; margin-bottom:20px; border-bottom:1px solid #efefef;}
	.news-item h3 {display:block;}
	.news-date    {float:left; width:45px; margin:10px 15px 15px 0; text-align:center; background-color:#f5f5f5; border-bottom:1px solid #ccc; padding:2px 0 5px;}
	.news-month   {font-size:12px; line-height:14px;}
	.news-day     {font-size:19px; line-height:22px;}


/*  @Footer
----------------------------------------------------------------------*/

	#footer { font-size:0.9em; padding:30px 0 0; height:110px; background:transparent url(../img/bg_footer.png) repeat-x left top; color:#999;}
	#footer a {color:#666;}
	#footer a:hover {color:#fff;}
	
	
	/* Footer Nav */
	#footer-nav           {width:100%; height:30px;padding:10px 0;}
    #footer-nav li        {float:left; margin-right:10px; width:auto; border-top:1px solid #ddd;}
    #footer-nav a         {color:#666; display:block;padding:5px;width:auto;}
    #footer-nav a:hover   {color:#fff;background:#666;}
	
	#footer-nav ul {display:none;}

	
/*  @Classes
----------------------------------------------------------------------*/

	.center    {width:900px; margin:0 auto;}
	.skipnav   {display:none;}	
	.alt       {background:#090909 !important;}
	.alt:hover {background:#efefef !important;}
	.highlight {background:#FFFFCC;}
	
	a.btn             {color:black; display:block; text-align:center; height:16px; background:url(../img/btn.png) top left no-repeat;padding:10px 15px 10px 15px; max-width:100px; position:relative;}
	a.btn:hover       {color:white; background:url(../img/btn.png) bottom left no-repeat; border:none;}
	a.btn span        {background:url(../img/btn.png) top right no-repeat; display:block; height:36px; width:10px; position:absolute; right:0; top:0;}
	a.btn:hover span  {background:url(../img/btn.png) bottom right no-repeat; display:block;}
	
	input.btn-submit       {height:36px; color:black; display:block; text-align:center; border:none; background:url(../img/btn-submit.png) top left no-repeat;padding:9px 15px; width:93px; cursor:pointer; float:left; margin:0 5px 10px 0;}
	input.btn-submit:hover {color:white; background:url(../img/btn-submit.png) bottom left no-repeat; border:none;}
	
	
/*  @Homepage Specifics
----------------------------------------------------------------------*/

	#home #mast       {height:300px;} /* show featured projects */
	#home #mast h1    {float:left; text-indent:-9999px; background:url(../img/home_h1.png) top left no-repeat; width:350px; height:96px; margin:30px 0 0 20px;}
	#home #content .center {padding-top:20px;}
	.header-home {position:relative; margin:0 auto; padding:25px 0 0; height:235px;}
	
	/* Project List */
	#home .project-image-list    {list-style:none; margin:0; padding:0;}
	#home .project-image-list li {margin:0; padding:0; display:inline;}
	#home .project-image-list a  {margin:0; padding:0;}
	#home .project-image-list a:hover  {border:none;}
	#home .project-image-list img       {margin:0 0 10px; background-color:#fff; padding:5px;}
	#home .project-image-list img:hover {background-color:#000; padding:5px;}
		
	/* Featured Projects */
	#featured-projects  {height:190px; width:510px;float:right; position:relative;}
    #featured-list      {height:155px; overflow:hidden; position:absolute; width:510px;}
    #featured-list li   {display:block; height:155px; width:510px; float:left; position:relative; margin-bottom:50px;}
	
	.img1, 
	.img2 {position:absolute; background:#fff;}
	.img1 {width:240px; height:195px; z-index:97; top:0; left:40px;}
	.img2 {width:175px; height:175px; z-index:96; background:#eee; top:10px; left:10px; }
	
	.descrip           {float:right; width:200px; padding:0 10px; color:#ddd;}
	.descrip h2        {color:#fff; padding-top:0;}
	.descrip a         {color:#999;}
	.descrip a:hover   {color:#fff; border-bottom:1px dotted;}
	
    .featured-bar      {height:35px; position:absolute; bottom:0; left:0; width:510px; background:#000;}
    .featured-bar h2   {color:#fff; font-size:1.7em; font-weight:bold; padding:5px 10px; width:200px; float:left;}
	#featured-nav      {float:right; padding:5px 10px;}
	#featured-nav a    {font-size:1.5em; display:block; color:#fff; padding:5px; float:left; border:1px solid #666; margin:0 3px;}
	
	#featured-nav a.activeSlide {color:#000; background:#fff;}
	
/*  @User Pages
----------------------------------------------------------------------*/

	/* Bio */
	.userPic         {float:left;margin:10px 20px 20px 0 !important; width:180px;}
	.userBio         {float:left;clear:none;width:430px;padding-top:10px;}
	
	/* User List */
	#content .user-list         {list-style:none; margin:0; width:630px; padding:0;}
	#content .user-list li      {width:auto; padding:20px 0; border-bottom:1px solid #efefef; width:630px;}
	#content .user-list li li   {padding:0; border-bottom:none; width:auto;}
	
	.user-list-left             {float:left;margin:0 20px 0 0 !important;}
	.user-list-left img         {margin:0;}
	.user-list-left a:hover     {border:none;}
	.user-list-left a:hover img {background:#ddd;}
	.user-list-right            {float:left;clear:none;width:488px;}
	.user-list-header           {position:relative; height:20px;border-bottom:1px solid #efefef; }
	
	.user-list h3               {font-size:1.6em;left:0;}
	.user-list h4               {font:bold 1em/1em Arial, Helvetica, sans-serif; color:#444; padding:10px 0 5px; right:0; bottom:10px;}
	
	.user-list-header h3,
	.user-list-header h4        {position:absolute; padding:0;}
	
	/* User Browser */
	#peoplebrowser               {width:630px; position:relative; margin-bottom:15px; height:250px;}
	
	#content #pb-list            {list-style:none; margin:0; padding:0;}
	#content #pb-list li         {display:block; float:left; position:relative; width:75px; padding:0 0 10px 10px;}
	#content #pb-list li a       {display:block;}
	#content #pb-list li a:hover {color:#000; border:none;}
	#content #pb-list li span    {display:block; text-align:center; line-height:1.2em;}
	#content #pb-list li img     {padding:0; margin:0 auto; display:block; border:0;}	

/*  @Manage Pages
----------------------------------------------------------------------*/

    fieldset         {border-bottom:1px solid #efefef;}
    fieldset div     {padding:5px 0;margin:5px 0;}	
    fieldset input   {padding:2px;}	
	fieldset label   {width:75px; display:inline-block; padding:5px 0; float:left;}
	fieldset .button {padding-left:75px;}

	/* RSS */
    .RSSMain          {margin-top:20px;}
    .RSSMain table td {padding:10px 10px 10px 0; line-height:1.4em;}
	
	/* User */
	.user-info       {width:630px;}
	.user-info img   {display:block; margin:0 auto;}
	.user-info th    {width:75px; text-align:left; vertical-align:middle; padding:10px 0;}
	.user-info td    {text-align:left; vertical-align:middle; padding:10px 0;}
	.subnote         {display:block; padding:2px 0; color:#666;}
	.note            {padding:12px; border:1px solid #aaa; background:#fafafa; margin:10px 0 10px; width:550px; }
	.tbl-btn         {width:90px; padding:10px !important;}
	

/*  @Publications
----------------------------------------------------------------------*/

	#content .pub-list    {list-style:none; margin:0; padding:0;}
	#content .pub-list li {padding:1em 0 1em 1em; border-bottom:1px solid #efefef;}
	
	.pub-id      {color:#666; font-size:10px;text-indent:-1em;}
	.pub-text    {}
	.pub-links a {margin:0 20px 0 0;}
	
	.date        {display:none;}

/*  @ToolTips & Messages
----------------------------------------------------------------------*/

	#message      {padding:10px; font:normal 2em/1em "Calibri",Arial,sans-serif; background:#cdffc9; border:1px solid green;}
	#errormessage {padding:10px; font:normal 2em/1em "Calibri",Arial,sans-serif; background:pink; border:1px solid red;}

	#tooltip {
		position: absolute;
		z-index: 3000;
		background-color: #efefef;
		padding: 5px 10px;
		opacity: 0.8;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;	
		-moz-border-radius: 5px;
		border-radius: 5px;
		
	}
	#tooltip h3, #tooltip div { margin: 0; font-size:1em; color:#000; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

