/*
----------------------------------------------------------------------
	Riverside CSS
	Version: 08.24.2009
----------------------------------------------------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}
	body                {line-height: 1;}
	ol,	ul              {list-style: none;}
	blockquote,	q       {quotes: none;}
	blockquote:before, 
	blockquote:after,
	q:before, 
	q:after             {content: ''; content: none;}
	:focus              {outline: 0;} /* remember to define focus styles! */	
	ins                 {text-decoration: none;} /* remember to highlight inserts somehow! */
	del                 {text-decoration: line-through;}
	table               {border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */
	
/*  @General Elements
----------------------------------------------------------------------*/

	body  {font: normal 80%/1em Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; background:#000 url(../image/bg.jpg) repeat-x -50% top;}
	p     {line-height:1.3em; padding:5px 0;}
	table {margin:10px 0; line-height:1.3em;}
	td    {padding:10px; border-bottom:1px solid #efefef; vertical-align:top;}

	h1 {display:none;}
	h2 {font-size:1.8em; padding:0 0 20px 0;}
	h3 {font-size:1.7em; padding:0.5em 0;}
	h4 {font-size:1.3em; padding:0 0 10px;}

	a               {color:#0066CC; text-decoration:none;}
	a:hover         {color:#444;}
	
	.right   {float:right;}
	.left    {float:left;}
	.clear   {clear:both;}
	.hide    {display:none;}
	.red     {color:red;}
	
	#wrapper {width:850px; margin:0 auto; padding:0 25px;}
	#header  {height:137px;}
	
	#logo    {width:246px; height:137px; display:block; float:left; background:url(../image/logo.gif) no-repeat top left;}
	#nav     {float:right; background:url(../image/nav.gif) no-repeat left top;}
	#nav li  {display:inline;}
	#nav a   {background:url(../image/nav-a.gif) no-repeat left top; height:20px; padding:18px 16px; margin:24px 10px 0; display:block; float:left; color:#fff; font-size:1.6em; font-weight:bold;}
	#nav a:hover   {color:#555;}
	
	#contact {color:#dbb582; font-weight:bold; font-size:1.5em; padding:15px 10px 0; background:url(../image/contact.gif) no-repeat left top; width:426px; height:25px; float:right; clear:right;}
	
	#wrapper-featured {height:275px; padding-bottom:75px; position:relative;}
	#promo    {width:240px; height:225px; float:left; margin-top:40px; background-color:#8b6043;}
	#featured {width:570px; height:245px; float:right; background:url(../image/featured.gif) no-repeat left top; padding:10px;}
	#featured h2 {color:#fffedf;}
	.feat-box    {float:left;}
	.feat-text   {float:right; width:336px;}
	.feat-text h3  {padding-top:10px;}
	.feat-text p {font-size:12px; color:#555;}
	.feat-text .feat-caption {font-size:15px; padding-top:3px;}
	.feat-links   {clear:both;padding:5px 30px 0 60px;}
	.feat-links a {font-size:1.3em; color:#a1e1ff; font-weight:bold;}
	
	#shrub1 {position:absolute; width:45px; height:48px; background:url(../image/shrub1.png) left top no-repeat; bottom:80px; left:-25px;}
	#shrub2 {position:absolute; width:36px; height:51px; background:url(../image/shrub2.png) left top no-repeat; bottom:80px; right:-10px;}
	#shrub3 {position:absolute; width:57px; height:80px; background:url(../image/shrub3.png) left top no-repeat; bottom:80px; left:240px;}
	
	
	#specials    {height:225px;}
	#specials li {padding:20px; width:110px; height:185px; float:left; display:block; margin-right:20px; background:url(../image/poster.gif) no-repeat center top;}
	#specials h3 {text-transform:uppercase; text-align:center; font-weight:normal;}
	#specials h4 {color:#342209; text-align:center; padding-bottom:15px;}
	#specials p  {color:#342209; text-align:center; font-size:1.3em;}
	#specials p.light  {color:#984b00;}
	
	#wrapper-menu {height:380px; margin-top:20px;}
	#menu-nav     { width:590px;}
	#menu-nav li  {display:inline;}
	#menu-nav a   {background:#000; color:#fff; height:20px; padding:10px; display:block; float:left;}
	#menu         {background:#fff; height:350px; clear:both;}