/* @Base
-------------------------------------------------- */

body {
	font-size: 110%;
	color: rgba(0, 0, 0, 0.8);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga' on;
	word-wrap: break-word;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.animate-all {
	transition: all 300ms cubic-bezier(0.5, 0, 0, 1.3) !important;
	animation-timing-function: cubic-bezier(0.5, 0, 0, 1.3);
}

.no-pad {
	padding: 0;
}

/* @Type Scale
---------------------------------------- */

html {
	font-size: inherit;
}

/* body {
	font-size: 110%;
} */

.type-jumbo {
	font-size: 3em;
}

.type-largest {
	font-size: 2.5em;
}

.type-larger {
	font-size: 2em;
}

.type-large {
	font-size: 1.5em;
}

.type-base {
	font-size: 1.2em;
	line-height: 1.8em;
}

.type-small {
	font-size: 0.8em;
}

.type-smaller {
	font-size: 0.7em;
}

.type-smallest {
	font-size: 0.6em;
}

.type-micro {
	font-size: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1;
	margin: 1em 0 0.5em;
	font-family: 'Lato', sans-serif;
	clear: both;
}

h1,
.h1 {
	font-size: 1.5em;
}

h2,
.h2 {
	font-size: 1.4em;
}

h3,
.h3 {
	font-size: 1.3em;
}

h4,
.h4 {
	font-size: 1.2em;
}

h5,
.h5 {
	font-size: 1.1em;
}

h6,
.h6 {
	font-size: 1em;
}

/* @General
---------------------------------------- */

html,
body,
.footer {
	background-color: #e6e6e6;
}

a {
	text-decoration: none !important;
	color: rgb(22, 107, 156);
	border-bottom: 1px solid rgba(22, 107, 156, 0.25);
	transition: all 200ms;
}

a:hover,
a:active {
	text-decoration: none !important;
	border-bottom-color: rgba(22, 107, 156, 1);
}

p {
	margin: 0 0 1rem;
}

/* @Layout
---------------------------------------- */

.layout-single-column {
	margin: 0 auto;
	max-width: 700px;
}

/* @Carousel
-------------------------------------------------- */

.carousel {
	height: 250px;
}

.carousel-caption {
	z-index: 10;
	bottom: 0;
	color: #222;
	text-shadow: none;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
}

.carousel-caption img.logo {
	margin-bottom: 20px;
}

.carousel-project,
.carousel-project .carousel-caption {
	height: 200px;
	color: #fff;
}

.carousel-project .carousel-caption h1 {
	font-weight: 300;
	margin: 0.5em 0 0;
}

.project-list .row .btn {
	margin: 10px 0 20px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}

.carousel-project .carousel-caption .btn {
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	color: #fff;
}

.carousel-project .carousel-caption .btn:hover {
	border-color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}

/* @Logo + Header Links
---------------------------------------- */

.logo {
	width: 100px;
	height: 66px;
	padding: 0;
	margin: 0;
}

.logo-small {
	width: 50px;
	height: 34px;
	padding: 0;
	margin: 0;
}

.profile-picture {
	width: 97px;
	height: 97px;
}

.link-back {
	position: absolute;
	z-index: 100;
	top: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white !important;
	color: #222;
	border-radius: 5px;
}

.link-back:hover {
	border-color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.link-back-dark {
	background-color: rgba(0, 0, 0, 0.5);
}

/* @Content
---------------------------------------- */

.content {
	background-color: #fff;
	font-family: 'Ovo', Georgia, Cambria, 'Times New Roman', Times, serif;
}

.content .row {
	padding: 5% 0;
	margin: 0;
	background-color: #222;
	color: white;
	transition: background 0.3s ease;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.content .row .label {
	display: inline-block;
	margin: 0 5px 5px 0;
}

.content h2,
.content h3 {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.content h2.type-larger {
	margin-top: 0.4em;
}

.image-placeholder {
	height: 350px;
	padding-top: 130px;
}

.image-placeholder div {
	width: 32px;
	margin: 0 auto;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.image-loading {
	opacity: 0;
	width: 0;
	height: 0;
}

.image-loaded {
	animation: fadeIn cubic-bezier(0.23, 1, 0.32, 1) 1;
	position: relative;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 0.7s;
	animation-delay: 0.1s;
}

/* @Projects
------------------------- */

/* .container-image {} */

.container-image h2 {
	margin: 2em 0;
}

.container-image .image {
	margin: 0 auto;
}

.ios-tech {
	background-color: #337ab7;
}

.android-tech {
	background-color: #f0ad4e;
	color: #37260b;
}

.web-tech {
	background-color: #5cb85c;
	color: #051509;
}

/* @Home
------------------------- */

.project-list .row {
	cursor: pointer;
	background-color: transparent;
	padding-bottom: 0;
	overflow: hidden;
	min-height: 414px;
}

.project-list .row:hover {
	background-color: rgba(100, 100, 100, 0.2);
}

/* .project-list .row .btn {
	margin: 10px 0 20px;
	background: transparent;
	color: white;
} */

.project-list .row:hover .btn {
	background-color: rgba(0, 0, 0, 0.5);
}

.project-list .row .image {
	width: 635px;
	max-width: 100%;
}

/* @About
------------------------- */

ul.links {
	list-style: none;
	padding: 0;
}

ul.links li {
	margin: 0.5em 0;
}

ul.links [class^='icon-'],
ul.links [class*=' icon-'] {
	vertical-align: text-top;
	margin-right: 5px;
}

/* @Footer
------------------------- */

.footer {
	padding-top: 30px;
	padding-bottom: 50px;
	box-shadow: inset 0 1px 1px #dbdbdb;
	clear: both;
}

.footer p {
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 0.8em;
	font-family: 'Lato', sans-serif;
	color: #4a4a4a;
}

.footer a {
	border: none;
}

.footer a:hover {
	text-decoration: none;
}

.logo-footer {
	margin-top: 10px;
	width: 77px;
	height: 51px;
}

/* @Responsive Design
---------------------------------------- */

/* @media (max-width: 900px) {} */

@media (max-width: 767px) {
	body {
		font-size: 100%;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 90%;
	}
}
