<div class="carousel">
	<div class="container">
		<div class="carousel-caption">
			<img src="content/images/profile-picture.png" alt="Profile Picture" />
			<h1>Hi! My name is Will.</h1>
			<p>I love to solve problems with creative solutions and come up with new ways to share content on web and mobile platforms.</p>
		</div>
	</div>
</div>

<div class="content">
	
	<!--<div class="container">
		<div class="well well-lg">
			<h1>What I've Done</h1>		
			<p class="lead">These are some of the projects I have worked on the past few years. The areas I worked on are highlighted below, with my role and specific technologies that were utilized.</p>
		</div>	
	</div>-->
	
	<div id="projects" ng-repeat="project in ctrl.projects">
		<div class="row">
			<div class="container">
				<div class="col-md-5">
					<h2 class="type-largest">{{ project.title }}</h2>
					<h3>{{ project.subtitle }}</h3>
			        <p>{{ project.text }}</p>
					<a class="btn btn-default" ng-href="#/projects/{{ project.title | lowercase }}">See More <span class="glyphicon glyphicon-chevron-right"></span></a>
					<!--
					<div ng-repeat="area in project.areas">
						<h3>{{ area.name }}</h3>
						<p>{{ area.text }}</p>
						<h4>
							<span class="label label-default">{{ area.type }}</span>
							<span class="label label-{{ area.label }}" ng-repeat="tech in area.tech">{{ tech }}</span>
						</h4>
					</div>
					-->
			    </div>
			    <div class="col-md-7">
			    	<img class="project-image img-responsive" src="http://fillmurray.com/g/665/500" alt="project image">
			    </div>
			</div>
		</div>
	</div>
	
</div>