<div class="carousel">
    <div class="container layout-single-column">
        <div class="carousel-caption">
            <img class="logo" src="content/images/logo.png" alt="Built by Will" />
            <p>
                <a ng-href="#/about">Will Grauvogel</a>
                <br/> Development + Design
            </p>
        </div>
    </div>
</div>
<div class="content">
    <div class="project-list" ng-repeat="project in ctrl.projects">
        <div ng-click="ctrl.openProject(project)" style="background-color: {{ project.color }}">
            <div class="row">
                <div class="container">
                    <div class="col-md-5">
                        <h2 class="type-largest">{{ project.title }}</h2>
                        <div ng-bind-html="project.summary"></div>
                        <a class="btn btn-default" ng-href="#/projects/{{ project.title | lowercase }}">See More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                    <div class="col-md-7">
                        <div class="image-loader" style="background-image:url({{ project.loader }})">
                            <img class="image img-responsive" lazy-src="{{ project.cover }}" animate-visible="true" animate-speed="0.5s" alt="{{ project.title }} image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/layout/footer.html'"></div>
